/* CSS file */

/* Ritch text editor */ 
RichTextEditor {
	borderAlpha: 0;
	dropShadowEnabled: false;
	borderStyle: none;
}

/* Main accordion panels */
.toolPanelAccordion {
	color: #333333;
}

/* Header style name for accordion menu */
.toolPanelAccordionHeader {
	/*fill-colors: #0174BB, #00598F;*/
	fill-colors: #EEEEEE, #E1E1E1;
	fill-alphas: 1, 1;
	color: #444444;
	selected-fill-colors: #F2F2F2, #EEEEEE;
	selection-color: #FFFFFF;
	highlightAlphas: 0.2, 0.2;
	textRollOverColor: #2260A7;
	padding-top: 6;
	padding-bottom: 6;
	padding-left: 6;
	border-color: #BBBBBB;
}

/* Button global style */
.button {
   cornerRadius: 14;
   textIndent: 0;
   paddingLeft: 12;
   paddingRight: 12;
   paddingTop: 4;
   paddingBottom: 4;
   letterSpacing: 0;
   highlightAlphas: 0.36, 0.62;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #cccccc, #ffffff, #ffffff;
   color: #333333;
   textRollOverColor: #ff5d00;
   textSelectedColor: #ff5d00;
   borderColor: #cccccc;
   themeColor: #cccccc;
   fontFamily: Trebuchet MS;
   fontSize: 12;
   fontWeight: bold;
}

.HRule {
  strokeColor:#FFFFFF; 
  strokeWidth:2;
}

LinkButton {
  roll-over-color: #FFFFFF;
  corner-radius: 3;
  fontSize: 11;
  font-family: Trebuchet MS;
  shadow-color: #FFFFFF;
}

